<h1>{{title}}</h1>

<p>
  My name is Anmol Bhattarai. I am currently studying Computer Programming at
  Georgian College.
</p>

<p>
  I enjoy creating websites and learning how front-end and back-end technologies
  work together. I am building skills in HTML, CSS, JavaScript, Node.js, Express,
  HBS, GitHub, and cloud hosting.
</p>

<div class="row mt-4">
  <div class="col-md-4">
    <div class="card p-3 shadow">
      <h3>Education</h3>
      <p>Computer Programming Diploma<br />Georgian College</p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card p-3 shadow">
      <h3>Skills</h3>
      <p>HTML, CSS, JavaScript, Node.js, Express, HBS, GitHub</p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card p-3 shadow">
      <h3>Goal</h3>
      <p>To become a skilled web developer and gain co-op experience.</p>
    </div>
  </div>
</div>