<h1>{{title}}</h1>

<p>
  These are some of the projects I have worked on while learning programming and
  web development.
</p>

<div class="row mt-4">
  <div class="col-md-4">
    <div class="card p-3 shadow h-100">
      <h3>Express Portfolio Site</h3>
      <p>
         Portfolio built with Node.js, Express, HBS, Bootstrap,
        and custom CSS.
      </p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card p-3 shadow h-100">
      <h3>Campus Navigation</h3>
      <p>
        A simple WebXR-based AR navigation prototype built with Babylon.js.
         This project demonstrates how augmented reality can guide users to locations 
         using 3D arrows in real space.
      </p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card p-3 shadow h-100">
      <h3>Fitness Challenge Tracker</h3>
      <p>
        FitnessChallengeTracker is an ASP.NET Core MVC web app that helps users create, 
        manage, and track fitness challenges and exercises. It includes secure login, Google 
        authentication, and a custom professional theme.
      </p>
    </div>
  </div>
</div>